.start-button {
  padding: 10px 40px;
  border-radius: 3px;
  background-color: #ffb252;
  color: #fff;
  box-shadow: 1px 1px #dfdddd;
  cursor: pointer;
}

.start-button:hover {
  box-shadow: none;
  background-color: #fbc697;
}