body {
  font-family: monospace;
  background-color: wheat;
  font-size: 16px;
}

button {
  font-family: monospace;
}

#app {
  padding-bottom: 300px;
}

.domino-container {
  position: relative;
}

.domino-container .left-arrow {
  position: absolute;
  top: -35px;
  left: -18px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.domino-container .right-arrow {
  position: absolute;
  top: -35px;
  right: -20px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.domino {
  color: #4d4d46;
  border: 1px solid #c8c8bd;
  background-color: ivory;
  box-shadow: 1px 1px 0px #a2a296;
  padding: 3px;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  transition: transform .1s;
}

.domino.vertical {
  width: 30px;
}

.domino.vertical .domino-top-half, .domino.vertical .domino-bottom-half {
  padding: 5px 0;
}

.domino.vertical .domino-top-half {
  border-bottom: 1px solid;
}

.domino.horizontal .domino-top-half, .domino.horizontal .domino-bottom-half {
  display: inline-block;
  height: 22px;
  line-height: 17px;
  width: 25px;
  padding: 4px 3px 0 3px;
}

.domino.horizontal .domino-top-half {
  border-right: 1px solid;
  padding-right: 3px;
}

.domino.empty {
  border: 2px dashed #4dc600;
}


.player-hand-region {
  position: fixed;
  bottom: 0;
  background-color: #00000085;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px;
  z-index: 1;
}

.player-hand-region .domino-list {
  padding: 0;
}

.player-hand-region .domino-list li{
  display: inline-block;
}

.player-hand-region .domino.selected {
  transform: translateY(-30px);
}

.player-hand-region .your-turn-text {
  color: #fff;
}

.player-hand-region .domino {
  padding: 0px 3px;
  margin: 20px 3px;
}

.train-region .domino-list {
  list-style: none;
  padding: 15px;
}

.train-region .domino-list li {
  display: inline-block;
  vertical-align: middle;
  margin: 15px 0px;
}

.train-region .domino {
  margin: 0 3px;
}

.train {
  position: relative;
  white-space: nowrap;
}

.train .train-info {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin-top: -5px;
}

.train .train-icon {
  font-size: 45px;
}

.train .train-owner {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80px;
}

.train .domino-list {
  display: inline-block;
}

.message {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #007bff;
  padding: 15px;
  border-radius: 3px;
  color: white;
  text-align: center;
}

.players-region {
  display: relative;
}

.players {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px 20px;
  background-color: #00000085;
  color: #fff;
  border-radius: 2px;
  z-index: 1;
  min-width: 120px;
  min-height: 15px;
}

.players.hidden {
  top: calc(-100% -10px);
}

.players h2 {
  margin: 0 0 5px 0;
}

.players ol {
  margin: 0;
  padding: 0 0 0 20px;
}

.player-content.hidden {
  display: none;
}

.show-toggle-button {
  text-align: center;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 15px;
  background: transparent;
  border: none;
  font-size: 16px;
  color: white;
  cursor: pointer;
  padding: 5px;
}

.end-turn-button {
  padding: 5px 30px;
}