body {
  font-family: monospace;
  background-color: wheat;
}

.domino {
  color: #4d4d46;
  border: 1px solid #c8c8bd;
  background-color: ivory;
  box-shadow: 1px 1px 0px #a2a296;
  padding: 3px;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;

}

.domino.vertical {
  width: 25px;

}

.domino.vertical .domino-top-half, .domino.vertical .domino-bottom-half {
  padding: 5px 0;
}

.domino.vertical .domino-top-half {
  border-bottom: 1px solid;
}

.domino.horizontal {
  width: 50px;
  margin: 3px 1px;
}

.domino.horizontal .domino-top-half, .domino.horizontal .domino-bottom-half {
  display: inline-block;
  height: 22px;
  padding-top: 3px;
  line-height: 17px;
  width: 15px;
}

.domino.horizontal .domino-top-half {
  border-right: 1px solid;
  padding-right: 5px;
}

.domino.empty {
  border: 2px dashed #4dc600;
}

.domino.selected {
  border: 1px solid #f00;
}

.player-hand-region {
  position: fixed;
  bottom: 0;
  background-color: #00000066;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px;
}

.player-hand-region .domino-list li{
  display: inline-block;
}

.player-hand-region .your-turn-text {
  color: #fff;
}

.player-hand-region .domino {
  padding: 0px 3px;
  margin: 0 3px;
}

.train-region .domino-list {
  list-style: none;
}

.train-region .domino-list li {
  display: inline-block;
  vertical-align: middle;
  margin: 15px 0px;
}

.train-region .domino {
  margin: 0 3px;
}

.train {
  position: relative;
}

.train.public:before {
  content: "🚂";
  font-size: 25px;
  position: absolute;
  top: 0;
  left: 0;
}

.message {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #007bff;
  padding: 15px;
  border-radius: 3px;
  color: white;
  text-align: center;
}

.players {
  border: 1px solid;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}
.players ol {
  margin: 0;
  padding: 0 0 0 20px;
}

.end-turn-button {
  padding: 5px 30px;
}